In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [22]:
df=sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [24]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [25]:
df=df[df["species"] != "setosa"]

In [26]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [31]:
##assigning values to
df['species']=df["species"].map({"versicolor":0,"virginica":1})

In [32]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width  species
50           7.0          3.2           4.7          1.4        0
51           6.4          3.2           4.5          1.5        0
52           6.9          3.1           4.9          1.5        0
53           5.5          2.3           4.0          1.3        0
54           6.5          2.8           4.6          1.5        0

In [33]:
##split dataset into dependent and independent features

x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [34]:
x

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [35]:
y

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [36]:
##train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)

In [43]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()

In [44]:
from sklearn.model_selection import GridSearchCV
parameter={'penalty':["l1","l2","elasticnet"],"C":[1,2,3,4,5,6,7,10,20,30,40,50,70,90,100],"max_iter":[100,200,300]}

In [45]:
classifier_regressor=GridSearchCV(classifier,param_grid=parameter,scoring="accuracy",cv=10)

In [46]:
classifier_regressor.fit(x_train,y_train)

C:\Users\mishr\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
900 fits failed out of a total of 1350.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
450 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\mishr\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\mishr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\mishr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
450 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\mishr\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\mishr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\mishr\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\mishr\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.97142857        nan        nan 0.97142857        nan
        nan 0.97142857        nan        nan 0.97142857        nan
        nan 0.97142857        nan        nan 0.97142857        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.95714286        nan
        nan 0.95714286        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan        nan 0.94285714        nan
        nan 0.94285714        nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 7, 10, 20, 30, 40, 50, 70, 90,
                               100],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [47]:
print(classifier_regressor.best_params_)

{'C': 1, 'max_iter': 100, 'penalty': 'l2'}

In [48]:
print(classifier_regressor.best_score_)

0.9714285714285715

In [49]:
##prediction
y_pred=classifier_regressor.predict(x_test)

In [50]:
from sklearn.metrics import accuracy_score,classification_report

In [51]:
score=accuracy_score(y_pred,y_test)
print(score)

0.9333333333333333

In [52]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92        12
           1       1.00      0.89      0.94        18

    accuracy                           0.93        30
   macro avg       0.93      0.94      0.93        30
weighted avg       0.94      0.93      0.93        30